#banner {
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    background-color: #406;
    background-opacity: 10%;
    background-size: cover;
    background: radial-gradient(circle, #406 90%, #203 100%);
    border-bottom:  6px solid #305;
    border-top: 5px solid #305;
    display: none;
    height: 120px;
    justify-content: center;
    left: 0px;
    margin-top: 40px;
    opacity: 1;
    position: relative;
    user-select: none;
    left: 0px;
    width: 100%;
}
#banner:before {
    background-image: url('chrome://torbutton/content/aboutTor/tor-roots-only.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    content: ' ';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.20;
    position: absolute;
    top: 0;
    width: 100%;
}
#banner-contents-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    position: relative;
    width: 700px;
}
#banner-text {
    color: white;
    display: inline-block;
    flex-grow: 1.0;
    font-family: sans-serif;
    font-size: 48px;
    letter-spacing: -0.00em;
    margin: 0px 10px 0px 20px;
    max-height: 90%;
}
#banner-logo-container {
    display: inline-block;
    margin: 0px;
    position: relative;
}
#banner-logo {
    height: 155px;
    position: relative;
    padding-bottom: 40px;
    width: 108px;
}
#banner-donate-button-link {
    text-decoration: none;
}
#banner-donate-button-link:link {
    color: #A20;
}
#banner-donate-button-link:hover {
    color: #C40;
}
#banner-donate-button-link:visited {
    color: #408;
}
#banner-donate-button-linka:active {
    color: black;
}
#banner-donate-button-container {
    background-color: #FFD;
    border-bottom-right-radius: 45px;
    border-bottom: 6px solid #204;
    border-left: 4px solid #204;
    border-right: 4px solid #204;
    border-top-right-radius: 45px;
    border-top: 4px solid #204;
    color: #A20;
    display: block;
    flex-grow: 0.0;
    height: 50px;
    letter-spacing: -0.00em;
    opacity: 100%;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 50px;
    padding-top: 5px;
    width: 80px;
}
#banner-donate-button {
    font-family: sans-serif;
    font-size: 60px;
    font-weight: bold;
    max-height: 100%;
    max-width: 100%;
    text-align: left;
    vertical-align: middle;
}
