@keyframes blink-update {
  0% {
    list-style-image: url("chrome://torbutton/skin/torbutton-update-needed.svg");
  }
  100% {
    list-style-image: url("chrome://torbutton/skin/torbutton.svg");
  }
}
@keyframes blink-update-dark {
  0% {
    list-style-image: url("chrome://torbutton/skin/torbutton-dark-update-needed.svg");
  }
  100% {
    list-style-image: url("chrome://torbutton/skin/torbutton-dark.svg");
  }
}

#torbutton-button {
  list-style-image: url("chrome://torbutton/skin/torbutton.svg");
}
toolbar[brighttext] #torbutton-button {
  list-style-image: url("chrome://torbutton/skin/torbutton-dark.svg");
}
#torbutton-button[tbstatus="on"] {
  opacity: 1.0;
}
#torbutton-button[tbstatus="off"] {
  opacity: 0.4;
}
#torbutton-button[tbUpdateNeeded="true"] {
  opacity: 1.0;
  animation: blink-update normal 1s infinite ease-in-out;
}
toolbar[brighttext] #torbutton-button[tbUpdateNeeded="true"] {
  opacity: 1.0;
  animation: blink-update-dark normal 1s infinite ease-in-out;
}

#torbutton-button-tb {
  list-style-image: url("chrome://torbutton/skin/torbutton.svg");
}
#torbutton-button-tb[tbstatus="on"] {
  opacity: 1.0;
}
#torbutton-button-tb[tbstatus="off"] {
  opacity: 0.4;
}

#torbutton-button-tb-msg {
  list-style-image: url("chrome://torbutton/skin/torbutton.svg");
}
#torbutton-button-tb-msg[tbstatus="on"] {
  opacity: 1.0;
}
#torbutton-button-tb-msg[tbstatus="off"] {
  opacity: 0.4;
}

#torbutton-checkForUpdate[tbUpdateNeeded] {
    font-weight: bold;
}

svg.circuit text {
    font-family: Arial;
}

svg#tor-circuit text.node-text {
    dominant-baseline: central;
    font-size: 14px;
}

svg#tor-circuit circle.node-circle {
    stroke: #195021;
    stroke-width: 2px;
    fill: white;
}

#appMenuNewIdentity {
    list-style-image: url("chrome://browser/skin/reload.svg");
}

#appMenuNewCircuit {
    list-style-image: url("chrome://torbutton/skin/relay.svg");
}
